.App {
  margin: 0;
  padding-top: 50px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}
.calculator {
  width:300px;
  box-shadow: 0 0 20 0 #aaa;
  /* background-color: teal; */
}

.calculator-display {
  padding-right: .25em;
  justify-content: flex-end;
  background-color: black;
  color: white;
  text-align: right;
  font-size: 75px;
}
.input-keys {
}
.function-keys {  
}
.operator-keys {
}
.digit-keys {  
}
.keys {
  width: 25%;
  height: 75px;
  font-family:inherit;
  font-size: 40px;
  /* border:none; */
}
.func {
  background-color: #aaa;
  border: thin solid grey;
}

.zero-key {
  width: 50%;
}

.orange {
  background: repeating-linear-gradient(#FF7300,#FF882D);
  border: solid thin grey;
  color:white;
}
.keys:active {
  box-shadow: inset 0px 0px 80px 0px rgba(0,0,0,0.25)
}


